.container {
  max-width: 1326px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.green_text {
  color: $green;
}

.main_section {
  @include adaptive-value('padding-top', 130, 60, 1);

  .main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    margin-bottom: 45px;

    @include media('<desktop') {
      flex-direction: column;
      justify-content: center;
    }
  }

  .main_title {
    color: $black;
    font-size: 78px;
    @include adaptive-value('font-size', 78, 40, 1);
    font-weight: 700;
    line-height: 105%;
    letter-spacing: -5px;
    max-width: 800px;
    width: 100%;

    @include media('<desktop') {
      margin-bottom: 30px;
      text-align: center;
      letter-spacing: 0;
    }
  }

  .descripotion {
    max-width: 396px;
    width: 100%;
  }

  .text {
    color: $gray71;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main_btn {
    padding: 22px 37px;
    @include adaptive-value('padding-top', 22, 15, 1);
    @include adaptive-value('padding-bottom', 22, 15, 1);
    @include adaptive-value('padding-right', 37, 22, 1);
    @include adaptive-value('padding-left', 37, 22, 1);
    font-size: 18px;
  }

  .white_btn {
    background-color: $white;
    color: $green;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  .main_img {
    max-height: 511px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .transition_elem {
      position: absolute;
      bottom: -22px;
      left: 100px;
      width: 48px;
      height: 28px;
      transform: rotateX(180deg);
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: -122px;
    //   left: 120.5px;
    //   width: 8px;
    //   height: 100px;
    //   background-color: $green;
    // }
  }
}

.benefits {
  padding-top: 130px;
  @include adaptive-value('padding-bottom', 230, 70, 1);
  position: relative;

  .benefits_route {
    position: absolute;
    left: 192px;
    top: -18px;
    height: 100%;
    z-index: -1;
  }

  .title_wrap {
    position: relative;
    max-width: max-content;
  }

  .benefits_title {
    color: $black;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 23px 20px;
    background-color: $green;
    border-radius: 20px;
    max-width: max-content;
    @include adaptive-value('margin-bottom', 90, 40, 1);
  }

  .transition_elem {
    position: absolute;
    top: -21px;
    left: 100.5px;
  }

  .transition_elem_2 {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotateZ(90deg);
  }

  .benefits_items_wrap {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 100px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0 130px;

    @include media('<desktop') {
      margin: 0 auto;
      gap: 50px;
      grid-template: 1fr / repeat(auto-fit, minmax(220px, 320px));
      max-width: 100%;
      justify-content: center;
    }
  }

  .item_icon {
    width: 70px;
    height: 70px;
    border: 3px solid $green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .item_title {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }

  .item_text {
    color: $gray71;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.5px;
  }
}

.how_works {
  background-color: $greenEC;
  padding-top: 90px;
  padding-bottom: 130px;
  position: relative;

  .title_wrap {
    position: relative;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .works_title {
    color: $black;
    background-color: $green;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: -1.426px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }

  .transition_elem {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) rotateZ(180deg);
  }

  .content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media('<desktop') {
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }
  }

  .steps_wrap {
    margin-top: 60px;

    @include media('<desktop') {
      margin: 0 0 30px 0;
    }
  }

  .works_route {
    position: absolute;
    top: 0;
    left: 250px;
  }

  .step {
    display: flex;
    align-items: center;
    column-gap: 40px;
    max-width: 447px;
    position: relative;
    margin-bottom: 60px;
  }

  .last_step {
    margin-bottom: 80px;
  }

  .step_img {
    width: 67px;
    height: 67px;
  }

  .step_title {
    color: $black;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }

  .step_description {
    color: $gray71;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
  }

  .app_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 18px;

    @include media('<desktop') {
      justify-content: center;
    }
  }
}

.reviews {
  @include adaptive-value('padding-top', 130, 70, 1);
  @include adaptive-value('padding-bottom', 215, 70, 1);

  .reviews_title {
    text-align: center;
    color: $black;
    font-size: 46px;
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    margin-bottom: 25px;
  }

  .reviews_description {
    color: $gray71;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
    @include adaptive-value('margin-bottom', 90, 40, 1);
  }

  .reviews_body {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $greenC0;
    @include adaptive-value('padding-top', 90, 30, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 60px;

    @include media('<tablet') {
      flex-direction: column;
      row-gap: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 1px;
      height: 100%;
      background-color: $greenC0;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  .review_item {
    max-width: 448px;
    width: 100%;
  }

  .stars_wrap {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @include adaptive-value('margin-bottom', 40, 25, 1);

    img {
      width: 24px;
      height: 24px;
    }
  }

  .review_text {
    color: $gray71;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
    @include adaptive-value('margin-bottom', 40, 25, 1);
  }

  .author {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }

  .author_img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
  }

  .author_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    color: $black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .location {
    color: $gray71;
    font-size: 14px;
    font-weight: 500;
  }
}

.join {
  .container {
    position: relative;
    @include adaptive-value('height', 680, 500, 1);
    width: 100%;
  }

  .join_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include adaptive-value('font-size', 46, 32, 1);
  }

  .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .join_title {
    color: $white;
    @include adaptive-value('font-size', 46, 32, 1);
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .join_text {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
    max-width: 611px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .green_btn {
    padding: 22px 37px;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 144%;
    letter-spacing: -0.36px;
  }
}

.green_btn {
  border-radius: 75px;
  background-color: $green;
  border: 1px solid $green;
  color: $white;
  font-weight: 600;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $white;
    color: $green;
    transition: all 0.3s ease 0s;
  }
}

.partners {
  padding: 130px 0;
  position: relative;

  .lines_partners {
    position: absolute;
    right: 0;
    top: -70%;
    z-index: -2;
  }

  .route {
    position: absolute;
    top: 0;
    left: 14%;
    z-index: -1;
    width: 80%;
  }

  .content {
    max-width: 1010px;
    width: 100%;
    margin-left: 130px;
    @include adaptive-value('margin-left', 130, -300, 1);

    @include media('<desktop') {
      margin-left: 0;
    }
  }

  .partners_title {
    color: $black;
    font-size: 46px;
    @include adaptive-value('font-size', 46, 32, 1);
    text-align: center;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 23px 20px;
    background-color: $green;
    border-radius: 20px;
    max-width: max-content;
    @include adaptive-value('margin-bottom', 90, 40, 1);
  }

  .partners_text {
    color: $black;
    font-size: 18px;
    font-weight: 600;
    line-height: 144%;
    letter-spacing: -0.36px;
    @include adaptive-value('margin-bottom', 60, 30, 1);
    max-width: 400px;
    width: 100%;
  }

  .partners_column_wrap {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 110px;
    row-gap: 70px;
  }

  .column_title {
    color: $black;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
    @include adaptive-value('padding-bottom', 30, 20, 1);
    @include adaptive-value('margin-bottom', 30, 20, 1);
    position: relative;
    padding-left: 16px;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $green;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $greenC0;
    }
  }

  .column_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
  }

  .column_text {
    color: $gray71;
    font-size: 18px;
    font-weight: 600;
    line-height: 144%;
    letter-spacing: -0.36px;
    max-width: 425px;
    width: 100%;

    @include media('<tablet') {
      max-width: 100%;
    }
  }

  .light {
    font-weight: 500;
    max-width: 365px;
  }

  .column_text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 105px;
    @include adaptive-value(' row-gap', 105, 35, 1);
  }
}

.revolution {
  @include adaptive-value('padding-top', 85, 40, 1);
  @include adaptive-value('padding-bottom', 100, 50, 1);
  background-color: $greenEC;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }

  .revolution_img {
    max-width: 481px;
    max-height: 428px;
    width: 100%;
    height: 100%;
  }

  .revolution_text {
    max-width: 660px;
    width: 100%;
  }

  .revolution_title {
    color: $black;
    font-size: 46px;
    @include adaptive-value('font-size', 46, 32, 1);
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    margin-bottom: 45px;
  }

  .text {
    color: $gray71;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
  }
}
