.container {
  max-width: 1326px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.green_text {
  color: $green;
}

.main_section {
  @include adaptive-value('padding-top', 130, 35, 1);

  .main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
    @include adaptive-value('margin-bottom', 45, 35, 1);

    @include media('<desktop') {
      flex-direction: column;
      justify-content: center;
    }
  }

  .main_title {
    color: $black;
    font-size: 78px;
    @include adaptive-value('font-size', 78, 34, 1);
    font-weight: 700;
    line-height: 105%;
    letter-spacing: -5px;
    max-width: 800px;
    width: 100%;
    text-align: start;

    @include media('<desktop') {
      margin-bottom: 35px;
      letter-spacing: 0;
    }
  }

  .descripotion {
    max-width: 396px;
    width: 100%;
  }

  .text {
    color: $gray71;
    font-size: 18px;
    @include adaptive-value('font-size', 18, 16, 1);
    text-align: start;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main_btn {
    padding: 22px 37px;
    @include adaptive-value('padding-top', 22, 20, 1);
    @include adaptive-value('padding-bottom', 22, 20, 1);
    @include adaptive-value('padding-right', 37, 28, 1);
    @include adaptive-value('padding-left', 37, 28, 1);
    font-size: 18px;
  }

  .white_btn {
    background-color: $white;
    color: $green;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  .main_img {
    max-height: 511px;
    min-height: 195px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .transition_elem {
      position: absolute;
      bottom: -22px;
      left: 100px;
      width: 48px;
      height: 28px;
      transform: rotateX(180deg);
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: -122px;
    //   left: 120.5px;
    //   width: 8px;
    //   height: 100px;
    //   background-color: $green;
    // }
  }
}

.benefits {
  padding-top: 130px;
  @include adaptive-value('padding-top', 130, 65, 1);
  @include adaptive-value('padding-bottom', 230, 70, 1);
  position: relative;

  .benefits_route {
    position: absolute;
    left: 192px;
    top: -18px;
    height: 100%;
    z-index: -1;
  }

  .title_wrap {
    position: relative;
    max-width: max-content;
  }

  .benefits_title {
    color: $black;
    @include adaptive-value('font-size', 46, 24, 1);
    font-weight: 600;
    letter-spacing: -1px;
    @include adaptive-value('padding-top', 20, 15, 1);
    @include adaptive-value('padding-bottom', 20, 15, 1);
    @include adaptive-value('padding-right', 20, 15, 1);
    @include adaptive-value('padding-left', 20, 15, 1);
    @include adaptive-value('margin-bottom', 30, 20, 1);
    background-color: $green;
    border-radius: 20px;
    max-width: max-content;
    @include adaptive-value('margin-bottom', 90, 50, 1);
  }

  .transition_elem {
    position: absolute;
    top: -21px;
    left: 100.5px;
  }

  .transition_elem_2 {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotateZ(90deg);
  }

  .benefits_items_wrap {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    @include adaptive-value('gap', 100, 35, 1);
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0 130px;

    @include media('<desktop') {
      margin: 0 auto;
      grid-template: 1fr / repeat(auto-fit, minmax(220px, 320px));
      max-width: 100%;
      justify-content: center;
    }
  }

  .item_icon {
    width: 70px;
    height: 70px;
    @include adaptive-value('width', 70, 56, 1);
    @include adaptive-value('height', 70, 56, 1);
    border: 3px solid $green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptive-value('margin-bottom', 30, 20, 1);

    img {
      @include adaptive-value('width', 30, 24, 1);
      @include adaptive-value('height', 30, 24, 1);
    }
  }

  .item_title {
    color: $black;
    @include adaptive-value('font-size', 24, 20, 1);
    font-weight: 600;
    letter-spacing: -1px;
    @include adaptive-value('margin-bottom', 20, 15, 1);
  }

  .item_text {
    color: $gray71;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.5px;
  }
}

.how_works {
  background-color: $greenEC;
  @include adaptive-value('padding-top', 90, 60, 1);
  @include adaptive-value('padding-bottom', 130, 0, 1);
  position: relative;

  @include media('<desktop') {
    padding-bottom: 0;
  }

  .title_wrap {
    position: relative;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 75px;
  }

  .works_title {
    color: $black;
    background-color: $green;
    text-align: center;
    @include adaptive-value('font-size', 46, 24, 1);
    font-weight: 600;
    letter-spacing: -1.426px;
    @include adaptive-value('padding-top', 20, 15, 1);
    @include adaptive-value('padding-bottom', 20, 15, 1);
    @include adaptive-value('padding-left', 20, 15, 1);
    @include adaptive-value('padding-right', 20, 15, 1);
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }

  .transition_elem {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) rotateZ(180deg);
  }

  .content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;

    @include media('<desktop') {
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }
  }

  .steps_wrap {
    width: 50%;
    margin-top: 40px;

    @include media('<desktop') {
      margin: 0 0 50px 0;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .works_route {
    position: absolute;
    top: 0;
    left: 250px;
  }

  .step {
    display: flex;
    align-items: center;
    @include adaptive-value('column-gap', 40, 25, 1);
    max-width: 475px;
    position: relative;
    @include adaptive-value('margin-bottom', 60, 50, 1);

    @include media('<desktop') {
      align-items: flex-start;
    }
  }

  .first_step {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 3px;
      border-radius: 0px 107px 107px 0px;
      opacity: 0.4;
      background: linear-gradient(
        270deg,
        #c0f3dd 65.86%,
        rgba(192, 243, 221, 0) 99.9%
      );
      width: 482px;
      height: 115px;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  .last_step {
    @include adaptive-value('margin-bottom', 65, 35, 1);
  }

  .step_img {
    @include adaptive-value('width', 67, 48, 1);
    @include adaptive-value('height', 67, 48, 1);
  }

  .step_text {
    position: relative;
    z-index: 1;
  }

  .step_title {
    color: $black;
    font-size: 24px;
    @include adaptive-value('font-size', 24, 20, 1);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }

  .step_description {
    color: $gray71;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 500;
    line-height: 144%;
  }

  .app_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 18px;
    margin-right: 30px;
    @include adaptive-value('margin-right', 30, 0, 1);

    @include media('<desktop') {
      justify-content: center;
    }
  }

  .app_link {
    @include adaptive-value('width', 160, 122, 1);
    @include adaptive-value('height', 55, 42, 1);
  }

  .works_slider {
    margin: 0;
    width: 45%;

    @include media('<desktop') {
      width: 100%;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 116px;
        background: linear-gradient(
          180deg,
          rgba(236, 249, 243, 0) 0%,
          #ecf9f3 100%
        );
        z-index: 1;
      }
    }
  }

  .swiper-wrapper {
    @include media('<desktop') {
      margin-bottom: -190px;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .swiper_img {
    max-width: 320px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      display: none;
    }

    @include media('<desktop') {
      top: 88%;
    }
  }

  .swiper-button-prev {
    left: 12px;

    @include media('<desktop') {
      left: 40%;
    }

    @include media('<tablet') {
      left: 35%;
    }
  }
  .swiper-button-next {
    right: 12px;

    @include media('<desktop') {
      right: 40%;
    }

    @include media('<tablet') {
      right: 35%;
    }
  }

  .arrow_next,
  .arrow_prev {
    min-width: 48px;
    height: 48px;
    background-color: $green;
    border-radius: 12px;
    box-shadow: 0px 6px 18px 0px rgba(29, 206, 128, 0.4);
    padding: 12px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.reviews {
  @include adaptive-value('padding-top', 130, 70, 1);
  @include adaptive-value('padding-bottom', 215, 70, 1);
  overflow: hidden;

  .reviews_title {
    text-align: center;
    color: $green;
    font-size: 46px;
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    margin-bottom: 25px;
  }

  .reviews_description {
    color: $gray71;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
    @include adaptive-value('margin-bottom', 90, 40, 1);
  }

  .reviews_body {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $greenC0;
    @include adaptive-value('padding-top', 90, 30, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 60px;

    @include media('<tablet') {
      flex-direction: column;
      row-gap: 60px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 1px;
      height: 85%;
      background-color: $greenC0;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  .reviews_swiper {
    @include adaptive-value('padding-bottom', 110, 35, 1);
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 90%;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  }

  .arrow_prev,
  .arrow_next {
    display: flex;
    align-items: center;
  
    column-gap: 5px;

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke: #71847c;
      }
    }

    span {
      color: $gray71;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .swiper-pagination {
    top: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: max-content !important;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
  }
  .swiper-pagination-bullet-active {
    background-color: #fafafa;
    color: $black;

    font-weight: 500;
  }

  .review_item {
    max-width: 450px;
    width: 100%;
  }

  .stars_wrap {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @include adaptive-value('margin-bottom', 40, 25, 1);

    img {
      width: 24px;
      height: 24px;
    }
  }

  .review_text {
    color: $gray71;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
    @include adaptive-value('margin-bottom', 40, 25, 1);
  }

  .author {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }

  .author_img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
  }

  .author_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    color: $black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .location {
    color: $gray71;
    font-size: 14px;
    font-weight: 500;
  }
}

.join {
  .container {
    position: relative;
    @include adaptive-value('height', 680, 640, 1);
    width: 100%;
  }

  .join_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include adaptive-value('font-size', 46, 32, 1);
  }

  .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .join_title {
    color: $white;
    @include adaptive-value('font-size', 46, 24, 1);
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 35, 25, 1);
  }

  .join_text {
    color: $white;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 500;
    line-height: 144%;
    max-width: 746px;
    width: 100%;
    margin: 0 auto;
    @include adaptive-value('margin-bottom', 45, 30, 1);
  }

  .green_btn {
    padding: 22px 37px;
    color: $white;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 600;
    line-height: 144%;
    letter-spacing: -0.36px;
  }
}

.green_btn {
  border-radius: 75px;
  background-color: $green;
  border: 1px solid $green;
  color: $white;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  display: inline-block;

  &:hover {
    background-color: $white;
    color: $green;
    transition: all 0.3s ease 0s;
  }
}

.partners {
  padding: 130px 0;
  position: relative;

  .lines_partners {
    position: absolute;
    right: 0;
    top: -70%;
    z-index: -2;
  }

  .route {
    position: absolute;
    top: 0;
    left: 14%;
    z-index: -1;
    width: 80%;
  }

  .content {
    max-width: 1010px;
    width: 100%;
    margin-left: 130px;
    @include adaptive-value('margin-left', 130, -300, 1);

    @include media('<desktop') {
      margin-left: 0;
    }
  }

  .partners_title {
    color: $black;
    @include adaptive-value('font-size', 46, 24, 1);
    text-align: center;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 23px 20px;
    background-color: $green;
    border-radius: 20px;
    max-width: max-content;
    @include adaptive-value('margin-bottom', 90, 35, 1);
  }

  .partners_text {
    color: $black;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 600;
    line-height: 144%;
    letter-spacing: -0.36px;
    @include adaptive-value('margin-bottom', 60, 35, 1);
    max-width: 400px;
    width: 100%;
  }

  .partners_column_wrap {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 110px;
    row-gap: 70px;
  }

  .column_title {
    color: $black;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 600;
    letter-spacing: -0.36px;
    @include adaptive-value('padding-bottom', 30, 20, 1);
    @include adaptive-value('margin-bottom', 30, 20, 1);
    position: relative;
    padding-left: 16px;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $green;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $greenC0;
    }
  }

  .column_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
  }

  .column_text {
    color: $gray71;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 600;
    line-height: 144%;
    letter-spacing: -0.36px;
    max-width: 425px;
    width: 100%;

    @include media('<tablet') {
      max-width: 100%;
    }
  }

  .light {
    font-weight: 500;
    max-width: 365px;
  }

  .column_text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 105px;
    @include adaptive-value(' row-gap', 105, 35, 1);
  }
}

.revolution {
  @include adaptive-value('padding-top', 85, 40, 1);
  @include adaptive-value('padding-bottom', 100, 50, 1);
  background-color: $greenEC;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    width: 100%;
    margin: 0 auto;

    @include media('<desktop') {
      flex-direction: column;
    }
  }

  .revolution_img {
    max-width: 481px;
    max-height: 428px;
    width: 100%;
    height: 100%;

    @include media('<desktop') {
      margin-bottom: 20px;
    }
  }

  .revolution_text {
    max-width: 555px;
    width: 100%;
  }

  .revolution_title {
    color: $black;
    font-size: 46px;
    @include adaptive-value('font-size', 46, 24, 1);
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    margin-bottom: 45px;
  }

  .text {
    color: $gray71;
    @include adaptive-value('font-size', 18, 16, 1);
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
  }
}

.connect {
  @include adaptive-value('padding-top', 130, 70, 1);
  @include adaptive-value('padding-bottom', 130, 70, 1);
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  .connect_text {
    max-width: 485px;
    width: 100%;

    @include media('<tablet') {
      margin-bottom: 35px;
      max-width: 100%;
    }
  }

  .connect_title {
    color: $black;
    @include adaptive-value('font-size', 46, 24, 1);
    font-weight: 600;
    line-height: 117%;
    letter-spacing: -1px;
    @include adaptive-value('margin-bottom', 45, 20, 1);
  }

  .text {
    color: $gray71;
    @include adaptive-value('font-size', 18, 16, 1);
    font-weight: 500;
    line-height: 144%;
    max-width: 425px;
    width: 100%;
  }

  form {
    width: 100%;
    max-width: 500px;
    min-width: 350px;

    @include media('<tablet') {
      max-width: 100%;
    }
  }

  .form_body {
    width: 100%;
    border-radius: 20px;
    background: #fafafa;
    box-shadow: 0px 1px 2.22px 0px rgba(0, 0, 0, 0.22);
    @include adaptive-value('padding-top', 60, 35, 1);
    @include adaptive-value('padding-bottom', 60, 35, 1);
    @include adaptive-value('padding-right', 35, 25, 1);
    @include adaptive-value('padding-left', 35, 25, 1);

    @include media('<tablet') {
      max-width: 100%;
    }
  }

  .form_title {
    color: $black;
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 35px;
  }

  .input_wrap,
  .input_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .input_body {
    margin-bottom: 40px;
    row-gap: 25px;
  }

  .input_name {
    display: inline-block;
    margin-bottom: 15px;
    color: $black;
    font-size: 14px;
    font-weight: 500;
  }
  .input_data {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    background-color: $white;
    padding: 8px 12px;
    font-size: 16px;
    color: $black;
    transition: all 0.3s ease 0s;

    &::placeholder {
      color: #a3a3a3;
      font-size: 16px;
    }

    &:focus {
      border: 1px solid $green;
      transition: all 0.3s ease 0s;
    }
  }

  .form_btn {
    width: 100%;
    padding: 23px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
  }
}
