<footer id="footer">
  <div class="container">
    <div class="footer_content">
      <div class="footer_top">
        <div class="footer_nav">
          <a href="index.html" class="footer_logo">
            <img
              class="footer_logo_img"
              src="./image/header-logo.svg"
              alt="logo"
            />
          </a>
          <nav class="menu">
            <ul class="menu_list">
              <li class="menu_item"><a class="menu_link" href="#">Home</a></li>
              <li class="menu_item">
                <a class="menu_link" href="#">Solutions</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#">Blog</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#">How it Works</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#">Pricing</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#">About Us</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="#">Contact Us</a>
              </li>
              <li class="menu_item">
                <a class="menu_link" href="why.html">Why SYB</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer_mail">
          <h3 class="mail_title">Stay up to date</h3>
          <form action="">
            <input class="mail" type="email" placeholder="Enter your email" />
            <a href="#" class="green_btn">
              <span class="btn_name">Subscribe</span>
              <img class="btn_img" src="./image/footer_arrow.svg" alt="arrow" />
            </a>
          </form>
        </div>
      </div>
      <div class="footer_bottom">
        <p class="copyright">© 2024 Untitled UI. All rights reserved.</p>
        <div class="support_links">
          <a href="#" class="supp_link">Terms</a>
          <a href="#" class="supp_link">Privacy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
