<header id="header">
  <div class="container">
    <div class="header_content">
      <a href="index.html" class="header_logo">
        <img class="header_logo_img" src="./image/header-logo.svg" alt="logo" />
      </a>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item"><a class="menu_link" href="#">Home</a></li>
          <li class="menu_item"><a class="menu_link" href="#">Services</a></li>
          <li class="menu_item"><a class="menu_link" href="#">Pricing</a></li>
          <li class="menu_item"><a class="menu_link" href="#">About Us</a></li>
          <li class="menu_item">
            <a class="menu_link" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="contact_header">
        <a href="tel:8887768929" class="number">
            <img class="phone_img" src="./image/phone.svg" alt="phone">
            <span class="phone_number">(888) 776-8929</span></a>
        <a href="#" class="sign_up_btn">Sign Up</a>
      </div>
    </div>
  </div>
</header>
